<div class="tip">
    <div class="container">
        <a href="/profile">
            <div class="row w-100">
                <div class="col-8">
                    <h6 class="text-left">My profile</h6>
                </div>
                <div class=" text-center col-4">
                    <i class="far iconsize-mine fa-user-circle"></i>
                </div>
            </div>
        </a>
        <a href="/dashboard">
            <div class="row w-100">
                <div class="col-8">

                    <h6 class="text-left">My dashboard</h6>
                </div>
                <div class="text-center col-4">
                    <i class="far iconsize-mine fa-play-circle"></i>
                </div>
            </div>
        </a>
        <br>
        <div class="btn-redeem-veedros m-auto ">
            <form>
                <input class="btn-redeem form-control profile-form-field email-field-props border-light border-radius-sm" placeholder="Redeem code" type="text">
                <button class="btn-redeem-icon border-0">
                        <i class="fas fa-arrow-right"></i>
                    </button>
            </form>
        </div>

        <br>
        <button class=" btn btn-veedros-new btn-veedros-sm border-0 m-auto" type="button" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                Log out
            </button>

    </div>
</div>