<!-- ========================================= -->


<div class="cart-tip">
    <div class="container">
        <div class="shadow-lg  rounded-lg-mine">
            <div class="cart-container sidebar">
                <!-- @@@@@@@@@@@@@@@@@@@@@ -->
                <div class="row cart-card">

                    <div class="col-4 align-self-center ">
                        <div class="card course-card  development-card noJquery" style="background-image: url(https://veedros.s3.eu-central-1.amazonaws.com/courses/2/hellloo/images/tdzHq4nTU7zkOOmjoTEXVq8ZFlpqoTBAxIljBlhl.jpeg)">
                        </div>
                    </div>
                    <div class="col-8 align-self-center ">
                        <div class="container ">
                            <div class="tip-cart-content">

                                <p class="P-title">Everett Mohr</p>

                                <p id="" class="P-description">999 Erin Field New Damaris,TN 03450 999 Erin Field New Damaris, TN 03450999 Erin Field New Damaris, TN 03450999 Erin Field New Damaris, TN 03450 999 Erin Field New Damaris, TN 03450999 Erin Field New Damaris, TN 03450999
                                    Erin Field New Damaris, TN 03450 9
                                </p>

                            </div>



                        </div>
                    </div>

                </div>
                <!-- @@@@@@@@@@@@@@@@@@@@@ -->
                <!-- @@@@@@@@@@@@@@@@@@@@@ -->
                <div class="row cart-card">

                    <div class="col-4 align-self-center ">
                        <div class="card course-card  development-card noJquery" style="background-image: url(https://veedros.s3.eu-central-1.amazonaws.com/courses/2/hellloo/images/tdzHq4nTU7zkOOmjoTEXVq8ZFlpqoTBAxIljBlhl.jpeg)">
                        </div>
                    </div>
                    <div class="col-8 align-self-center ">
                        <div class="container ">
                            <div class="tip-cart-content">

                                <p class="P-title">Everett Mohr</p>

                                <p class="P-description">999 Erin Field New Damaris,TN 03450 999 Erin Field New Damaris, TN 03450999 Erin Field New Damaris, TN 03450999 Erin Field New Damaris, TN 03450 999 Erin Field New Damaris, TN 03450999 Erin Field New Damaris, TN 03450999
                                    Erin Field New Damaris, TN 03450 9
                                </p>

                            </div>



                        </div>
                    </div>

                </div>
                <!-- @@@@@@@@@@@@@@@@@@@@@ -->
            </div>
            <div class="py-3 m-auto w-75">
                <p class="total">Total: LE 3600</p>
                <a href="courses/" class="btn btn-veedros-new btn-veedros-sm border-0 mx-auto">
                    <span>Go to cart</span>
                </a>
            </div>

        </div>

    </div>
</div>
</div>
<!-- ============================================= -->