.text-header-lg {
    font-weight: 700;
    font-size: 2.5rem;
    color: #313c8b !important;
    margin-bottom: 4rem;
}
h2 {
    font-weight: 500;
    font-size: 2rem;
    color: rgba(0,0,0,.7);
    margin-bottom: 4rem;
}
.feather
{
    color: #313c8b;
    width: 30px;
    height: 30px;
}
.btn-secondary-veedros{
    color: rgba(0,0,0,.7);
    font-weight: 600;
}
.btn-secondary-veedros .feather{
    stroke: rgba(0,0,0,.7);

}
.btn-secondary-veedros-xl{
    width: 100%;

}
.btn-secondary-veedros-xl .feather{
    stroke: #313c8b;
    stroke-width: 3px;
}


