.text-header-lg {
    font-weight: 700;
    font-size: 2.5rem;
    color: #313c8b !important;
    margin-bottom: 4rem;
}
h2 {
    font-weight: 500;
    font-size: 2rem;
    color: rgba(0,0,0,.7);
    margin-bottom: 4rem;
}
.feather
{
    color: #313c8b;
    width: 30px;
    height: 30px;
}


