/* ==== nav ==== */
.tip .iconsize-mine {
    font-size: 1.3rem;
}

.tip a {
    color: black;
}

/* ============================================================================================== */

.info-bar {
    background: -webkit-gradient(linear, right top, left top, from(#63C9E2), color-stop(50%, white));
    background: linear-gradient(to left, #63C9E2 0%, white 95%);
    height: 100%;
    padding: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 12px;

}

.tessst {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.content-info-bar .left-content .user-photo {
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.user-name {
    margin-left: auto;
}

.ml-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-land .w-90 {
    width: 90%;

}


.content-info-bar {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ======================== edit ======================== */
.left-content .user-photo {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-size: 120%;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, .75);
}

.left-content .user-photo:hover {
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, .75);
    background-position: 0% 50%;
}

.left-content .user-photo:hover .text {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(102, 51, 153, .5);
    width: 150px;
    letter-spacing: 0.2rem;
    line-height: 150px;
    height: 150px;
    margin-top: -4.65rem;
    margin-left: -2.35rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}

.left-content .user-photo .text {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 3rem;
    left: 25%;
    top: 50%;
    margin-top: -5rem;
    margin-left: -5rem;
    font-size: 1rem;
    font-family: Raleway, sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: rebeccapurple;
    transform: rotate(-180deg) translate(-10rem) rotate(180deg);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, .5);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* ================== edit ================== */

.rounded-lg-mine {
    border-radius: 1.2rem !important;
}

/* ================================================================================================ */


.card-kmine .card-bg-img {
    height: 300px !important;
}

.card-kmine .title-mine {
    min-height: 5rem !important;
}

/* ======================================= حشوة ======================================== */
.test-mine {
    height: 100%;

    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

/* #0071BC */



/* progress bar */
.progress-bar {
    position: relative;
    width: 100%;
    height: 2em;
    background-color: #F2F2F2;

}

.progress-bar::before {
    position: absolute;
    content: '';
    display: flex;
    align-items: center;
    left: 0em;
    top: 0em;
    bottom: 0em;
    width: calc(var(--width, 0) * 1%);
    transition: width ease-in-out 0.5;
    /* calc(var(--width, 0) * 1%) */
    max-width: 100%;
    background: rgb(63, 94, 251);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(64, 180, 255, 1) 100%);
}

@media (min-width: 768px) and (max-width: 1200px) {

    .dashboard-land .card-columns {
        column-count: 2;
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }

}



.info-bar .fas,
.far {
    line-height: 1.5;
}

@media (max-width: 767px) {

    .right-content {
        width: 75%;
        margin: auto;
    }


    .user-name {
        margin: auto;
        margin-top: 1rem;
    }

    .left-content .user-photo {
        margin: auto;
    }

    .content-info-bar {
        display: block;
    }

    .dashboard-land .d-none-mine {
        display: none;
    }

    .dashboard-land .card-columns {
        column-count: 1;
    }

}

/* @media (max-width:550px) {
    .right-content p {
        font-size: 13.8px;
    }

} */

/* ------------------- dashboard modals title and My progress dicoration ------------- */
.dashboard-land .p-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #0373BD;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    margin-top: 50px;
}

.dashboard-land .p-description {
    margin-top: 20px;
    word-break: inherit;
}

.dashboard-land .p-prog {
    color: rgb(9, 130, 211);
    font-weight: 400 !important;
    font-size: 1.4rem;
    margin-bottom: 1rem !important;
    font-weight: lighter;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* --------------------------------------------------------------------------------- */

.info-bar .content-info-bar .left-content .user-name .p1 {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.info-bar .content-info-bar .left-content .user-name .p2 {
    font-size: 0.8rem;
    font-weight: lighter;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* ============================================= */

.info-bar .content-info-bar .right-content .p1 {
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.info-bar .content-info-bar .right-content .p2 {
    font-size: 0.86rem;
    color: white;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}


@media (max-width:888px) and (min-width:768px) {
    .info-bar .content-info-bar .left-content .user-name .p1 {
        font-size: 1.4rem;
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
}

@media (max-width:806px)and (min-width:768px) {
    .info-bar .content-info-bar .left-content .user-name .p2 {
        font-size: 0.7rem;
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
}








/* ======================== edit ======================== */
.right-content .user-photo {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.right-content .user-photo .text {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;

    left: 52%;
    bottom: 59%;
    margin-top: -5rem;
    /* margin-left: -5rem; */
    font-size: 0.7rem;
    font-family: Raleway, sans-serif;
    text-align: center;

    border-radius: 50%;
    background: white;
    transform: scale(1);
    transition: all 0.5s ease;
}

.right-content .user-photo:hover .text {
    transform: scale(1.2);

}


.right-content a {
    text-decoration: none;
    color: black;
}


/* ================== edit ================== */

ul li a {
    text-decoration: none;
    color: black;
}