/* ==== nav tip ==== */


/* custom size for share btn */


/* ============================================================================================== */

.info-bar {
    margin-top: 7em;
    margin-bottom: 5em;
}

.nav-item .nav-photo .notification {
    display: block;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    font-size: 0.6rem;
    background-color: red;
    border-radius: 50%;
    top: -10%;
    right: -10%;
}

.container-notification {
    position: relative;
}

.container-notification .notification {
    display: block;
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    font-size: 0.5rem;
    background-color: red;
    border-radius: 50%;
    top: -10%;
    right: -20%;
    color: white;
}

.nav-item .nav-photo .notification p {
    color: white;
}

.content-info-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-info-bar .user-photo {
    height: 230px;
    width: 230px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.ml-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-land .w-90 {
    width: 90%;
}

.btn-Edit p {
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 0.6rem;
}

.btn-Edit {
    padding: 0.2rem 1rem;
}


/* ======================== edit ======================== */


/* ================== edit ================== */

.rounded-lg-mine {
    border-radius: 1.2rem !important;
    margin: 3rem 3rem;
}


/* ================================================================================================ */

.card-kmine .card-bg-img {
    height: 300px !important;
}

.card-kmine .title-mine {
    min-height: 5rem !important;
}


/* ======================================= حشوة ======================================== */

.test-mine {
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}


/* #0071BC */


/* progress bar */

.progress-bar {
    position: relative;
    width: 100%;
    height: 2em;
    background-color: #F2F2F2;
}

.progress-bar::before {
    position: absolute;
    content: '';
    display: flex;
    align-items: center;
    left: 0em;
    top: 0em;
    bottom: 0em;
    width: calc(var(--width, 0) * 1%);
    transition: width ease-in-out 0.5;
    /* calc(var(--width, 0) * 1%) */
    max-width: 100%;
    background-color: #65D3BF;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .dashboard-land .card-columns {
        column-count: 2;
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
}


/* .info-bar .fas,
.far {
    line-height: 1.5;
} */

@media (max-width: 767px) {
    .user-photo {
        margin: auto;
    }
    .content-info-bar {
        display: block;
    }
    .dashboard-land .d-none-mine {
        display: none;
    }
    .dashboard-land .card-columns {
        -webkit-column-count: inherit;
        column-count: inherit;
    }
    .rounded-lg-mine {
        margin: 3rem 0.5rem;
    }
}


/* 
@media (max-width: 574px) {
    .card-columns {
        -webkit-column-count: 0 !important;
        column-count: 0 !important;
    }
} */


/* ------------------- dashboard modals title and My progress dicoration ------------- */

.dashboard-land .p-title {
    font-size: 30px;
    font-weight: 600;
    color: #0373BD;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    margin-top: 50px;
}

.dashboard-land .p-description {
    font-size: 20px;
    margin-top: 20px;
    word-break: inherit;
}

.dashboard-land .p-prog {
    color: rgb(9, 130, 211);
    font-weight: 400 !important;
    font-size: 27px;
    margin-bottom: 1rem !important;
    font-weight: lighter;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}


/* --------------------------------------------------------------------------------- */

.info-bar .content-info-bar .user-name .p1 {
    font-size: 2.3rem;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.info-bar .content-info-bar .user-name .p2 {
    text-transform: capitalize;
    margin-bottom: 0rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.nav-item-edit p {
    font-size: 20px;
}


/* ============================================= */

ul .nav-item-edit a {
    text-decoration: none;
    color: black;
}

.nav-item .nav-link p {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0.2rem;
}

@media (max-width:768px) {
    .nav-item-edit {
        flex-grow: 0 !important;
        transition: all 0.5s ease-in-out;
    }
    .nav-link-mine {
        transition: all 0.2s ease-in-out;
    }
    .nav-item .nav-link .target {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0.2rem;
    }
    .d-none-tab .target {
        display: none !important;
    }
    .active.d-none-tab .target {
        display: initial !important;
    }
}

#Saved h1,
#My_Courses h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.remove-saved {
    background-color: #D36565;
    display: inline-block;
    width: 20px;
    height: 25px;
    border-radius: 25%;
    position: absolute;
    top: 7px;
    right: 7px;
    transition: all 0.5s ease-out;
    overflow: hidden;
}

.remove-saved:hover {
    width: 80px;
    border-radius: 5%;
    transition: all 0.5s ease-out;
}

.unsave-text {
    overflow-x: hidden;
    color: white;
    position: absolute;
    font-size: 16px;
    top: 2px;
    transform: translateX(20px);
    transition: all 0.5s ease-out;
}

.remove-saved:hover.remove-saved span {
    transform: translateX(25px);
    color: white;
    transition: all 0.5s ease-out;
}

.remove-saved i {
    position: absolute;
    top: 4px;
    right: 15%;
    color: white;
    transition: right 0.7s ease-out;
}

.remove-saved:hover.remove-saved i {
    right: 80%;
    transition: right 0.3s ease-out;
}


/* @keyframes trash {
    50% {
        width: 40px;
    }
    100% {
        width: 60px;
    }
}

@keyframes trash-icon {
    from {
        right: 15%;
    }
    to {
        right: 70%;
    }
} */