/* Veedros button  */

.btn-veedros-red,
.btn-veedros-new {
    font-size: 20px;
    font-weight: 500;
    /* letter-spacing: 1px; */
    padding: 0.3rem 2rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none !important;
    background-size: 300% 100%;
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #65D3BF !important;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-veedros-red,
.btn-veedros-new:hover {
    background-color: rgb(87, 179, 162) !important;
    background-position: 100% 0;
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #fff !important;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.btn-veedros-red,
.btn-veedros-new:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-veedros-red:active,
.btn-veedros-new:active {
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: translateY(4px) scale(0.95);
    transform: translateY(4px) scale(0.95);
}

.btn-veedros-red {
    background-color: #D36565 !important;
}

.btn-veedros-red:hover {
    background-color: rgb(163, 69, 69) !important;
}

.btn-veedros-small {
    font-size: 16px !important;
    font-weight: 400;
    width: 100px;
    height: 40px;
    border-radius: 50px;
}

.btn-veedros-regular {
    font-size: 16px !important;
    font-weight: 400;
    max-width: 215px;
    max-height: 50px;
    border-radius: 50px;
}

.btn-veedros-wide {
    font-size: 16px;
    width: 500px;
    height: 50px;
    border-radius: 50px;
}

.nav-pills .nav-link.active {
    background-color: #65D3BF;
}

.nav-pills a:hover {
    color: #65D3BF;
}

::selection {
    background-color: #65D3BF;
    border-radius: 5px;
    color: white;
}

.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    -webkit-tap-highlight-color: transparent;
}

.burger .burger-lines:after {
    left: 0;
    top: -1em;
}

.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}

.burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
}

.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: white;
    height: 0.25em;
    position: absolute;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.burger .burger-lines:after {
    left: 0;
    top: -1em;
}

.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}

.burger.burger-rotate .burger-lines:after,
.burger.burger-rotate .burger-lines:before {
    width: 2em;
}

.burger.burger-rotate .burger-lines,
.burger.burger-rotate .burger-lines:after,
.burger.burger-rotate .burger-lines:before {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.navbar-toggler[aria-expanded="true"] .burger.burger-rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navbar-toggler[aria-expanded="true"] .burger.burger-rotate .burger-lines {
    background-color: transparent;
}

.navbar-toggler[aria-expanded="true"] .burger.burger-rotate .burger-lines:before,
.navbar-toggler[aria-expanded="true"] .burger.burger-rotate .burger-lines:after {
    left: 0.5em;
    top: 0px;
}

.navbar-toggler[aria-expanded="true"] .burger.burger-rotate .burger-lines:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.navbar-toggler[aria-expanded="true"] .burger.burger-rotate .burger-lines:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
    background-color: #65D3BF;
}

.btn-outline {
    background-color: transparent !important;
    border: #65D3BF 2px solid !important;
    color: #65D3BF;
    transition: all .2s ease-in-out;
}

.btn-outline:hover {
    border: #65D3BF00 2px solid !important;
}


/* veedros search */

.btn-search-veedros-lg,
.btn-search-veedros-sm,
.btn-redeem-veedros {
    width: 80%;
    position: relative;
}

.btn-search-veedros-lg input {
    border-radius: 36px;
    width: 100%;
    height: 64px;
    padding-left: 25px;
    border-radius: 36px;
}

.btn-search-veedros-sm input {
    border-radius: 36px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 36px !important;
}

.btn-search-lg {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    right: 33px;
    bottom: 13px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn-search-sm {
    background: rgb(0, 0, 0);
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.btn-redeem-veedros i {
    color: white;
}

.btn-search-veedros-lg,
.btn-search-veedros-sm i {
    color: white;
}

.btn-redeem {
    border-radius: 36px;
    width: 100%;
    height: 35px;
    padding-left: 20px;
    border-radius: 36px !important;
}

.btn-redeem-icon {
    background: #65D3BF;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.btn-redeem-icon-lg {
    width: 30px;
    height: 30px;
}

.btn-veedros-cart {
    font-size: 21px;
    color: #D36565;
    width: 100%;
    background-color: white !important;
    max-width: 285px !important;
    max-height: 50px;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 50px;
    border: solid 2px #D36565 !important;
    transition: all .2s ease-in-out;
}

.btn-veedros-cart-red {
    font-size: 21px;
    color: white;
    width: 100%;
    background-color: #D36565 !important;
    max-width: 285px !important;
    max-height: 50px;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 50px;
}

.btn-veedros-cart-red:hover {
    background-color: rgb(163, 69, 69) !important;
}

.btn-veedros-cart:hover {
    color: white;
    background-color: #D36565 !important;
    border: solid 2px #D36565 !important;
    transition: all .2s ease-in-out;
}


/* ============================================================== */

.search-form {
    position: relative;
    width: 300px;
}

.active:before {
    transform: scale(1);
    transition-delay: 0.3s;
    animation: 0.6s cubic-bezier(.87, -.41, .19, 1.44) 0.5s infinite forwards focus;
}

.search-input {
    background-color: transparent;
    border-radius: 36px;
    position: absolute;
    right: 0px;
    width: 34px;
    height: 35px;
    transition: all 0.5s cubic-bezier(.87, -.41, .19, 1.44);
    outline: none;
    border: none;
    padding-right: 35px;
}

.search-input::placeholder {
    color: #A7ACB1;
}

.active .search-input {
    width: 100%;
    padding-left: 25px;
    border-radius: 36px;
    background-color: white;
}

.btn-nav-search {
    background: transparent;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: all 0.5s cubic-bezier(.87, -.41, .19, 1.44);
    outline: none !important;
    border: none;
}

.btn-nav-search>.feather {
    transition: all 0.2s ease;
    color: #6c757d;
}

.active .btn-nav-search>.feather {
    transform: scale(1.1);
    margin-right: 5px;
    color: #65D3BF;
}

.focus:before {
    transform: scale(0);
    animation: none;
}

.pagination {
    justify-content: center;
    align-items: center;
}

.page-link {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: #65D3BF !important;
}

.page-item.active .page-link {
    background-color: #65D3BF !important;
    color: white !important;
}
