/* Veedros button  */
.btn-veedros-new {
    font-size: 20px;
    font-weight: 300;
    /* letter-spacing: 1px; */
    padding: 0.3rem 2rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none !important;
    background-size: 300% 100%;
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #65D3BF !important;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    white-space: nowrap;
}



.btn-veedros-new:hover {
    background-position: 100% 0;
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #fff;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 2px 15px 0 #65D3BF;
    -webkit-box-shadow: 0 2px 15px 0 #65D3BF;
    -moz-box-shadow: 0 2px 15px 0 #65D3BF;
}

.btn-veedros-new:focus {
    outline: none;
    box-shadow: 0 2px 15px 0 #65D3BF;
    -webkit-box-shadow: 0 2px 15px 0 #65D3BF;
    -moz-box-shadow: 0 2px 15px 0 #65D3BF;
}

.btn-veedros-new:active {
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: translateY(4px) scale(0.95);
    transform: translateY(4px) scale(0.95);
    outline: none !important;
    border: none !important;
    box-shadow: 0 4px 25px 0 rgba#65D3BF;
    -webkit-box-shadow: 0 4px 25px 0 #65D3BF !important;
    -moz-box-shadow: 0 4px 25px 0 #65D3BF;
}

/* veedros-nav-item */
.veedros-nav-item {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.3rem 2rem;
    color: #fff;
    border: none !important;
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #65D3BF !important;
    /* box-shadow: 0 4px 25px 0 rgba#65D3BF;
    -webkit-box-shadow: 0 4px 25px 0 #65D3BF;
    -moz-box-shadow: 0 4px 25px 0 #65D3BF; */
    white-space: nowrap;
}

.veedros-nav-item:hover {

    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #fff;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 4px 25px 0 #65D3BF;
    -webkit-box-shadow: 0 4px 25px 0 #65D3BF;
    -moz-box-shadow: 0 4px 25px 0 #65D3BF;
}

.veedros-nav-item:focus {
    outline: none;
    box-shadow: 0 4px 25px 0 #65D3BF;
    -webkit-box-shadow: 0 4px 25px 0 #65D3BF;
    -moz-box-shadow: 0 4px 25px 0 #65D3BF;
}

.veedros-nav-item:active {
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: translateY(4px) scale(0.95);
    transform: translateY(4px) scale(0.95);
    outline: none !important;
    border: none !important;
    box-shadow: 0 4px 25px 0 #65D3BF;
    -webkit-box-shadow: 0 4px 25px 0 #65D3BF;
    -moz-box-shadow: 0 4px 25px 0 #65D3BF;
}

.nav-pills .nav-link.active {
    background-color: #65D3BF;
}

.nav-pills a:hover {
    color: #65D3BF;
}
