/* Veedros button  */
.btn-veedros-new {
    font-size: 20px;
    font-weight: 700;
    /* letter-spacing: 1px; */
    padding: 0.3rem 2rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none !important;
    background-size: 300% 100%;
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color: #65D3BF !important;

    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn-veedros-new:hover {
    background-color: rgb(87, 179, 162) !important;
    background-position: 100% 0;
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #fff;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.btn-veedros-new:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-veedros-new:active {
    moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: translateY(4px) scale(0.95);
    transform: translateY(4px) scale(0.95);
}

.btn-veedros-small {
    font-size: 16px !important;
    font-weight: 400;
    width: 100px;
    height: 40px;
    border-radius: 50px;
}

.btn-veedros-regular {
    font-size: 16px !important;
    font-weight: 400;
    max-width: 215px;
    max-height: 50px;
    border-radius: 50px;
}

.btn-veedros-wide {
    font-size: 16px;
    width: 500px;
    height: 50px;
    border-radius: 50px;
}


.nav-pills .nav-link.active {
    background-color: #65D3BF;
}

.nav-pills a:hover {
    color: #65D3BF;
}
