.teach-header {
    background-image: url(../images/helpSection-1920x800.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 90vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feather {
    color: #0D984F;
}

.header h1 {
    font-size: 70px;
    font-weight: 900;
}


.input-sm {
    width: 13%;
    display: inline-block;
}

.input-md {
    width: 86%;
    display: inline-block;
}


.teach-with-us-content h4,
h2 {
    font-size: 22px;
}


.form-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

@media (max-width: 992px) {
    .form-bg::after {
        background-image: url(../images/Teach-960x775.jpg);
        transform: scaleX(-1);
        transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045);
        content: '';
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
    }

    .form-bg .form-overlay::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #65D3BF;
        opacity: 0.5;
        z-index: -1;
    }

    .d-none-sm {
        transition: all 0.5s ease-in-out;
        display: none;
    }
}
