.teach-header {
    background-image: url(../images/helpSection-1920x800.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 90vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feather {
    color: #0D984F;
}

.header h1 {
    font-size: 70px;
    font-weight: 900;
}


.input-sm {
    width: 13%;
    display: inline-block;
}

.input-md {
    width: 86%;
    display: inline-block;
}

.profile-form-field {
    width: 100% !important;
    font-weight: 500;
    font-size: 18px;
    -webkit-box-shadow: 0 0px 0.8px -7px rgba(0, 0, 0, 0.056),
        0 0px 1.9px -7px rgba(0, 0, 0, 0.081), 0 0px 3.6px -7px rgba(0, 0, 0, 0.1),
        0 0px 15.5px -7px rgba(0, 0, 0, 0.145);
    box-shadow: 0 0px 0.8px -7px rgba(0, 0, 0, 0.056),
        0 0px 1.9px -7px rgba(0, 0, 0, 0.081), 0 0px 3.6px -7px rgba(0, 0, 0, 0.1),
        0 0px 15.5px -7px rgba(0, 0, 0, 0.145);
}

.profile-form-field:focus {
    -webkit-box-shadow: 0 0px 0.8px -6px rgba(0, 0, 0, 0.084),
        0 0px 1.9px -6px rgba(0, 0, 0, 0.121), 0 0px 3.6px -6px rgba(0, 0, 0, 0.15),
        0 0px 15.5px -6px rgba(0, 0, 0, 0.210);
    box-shadow: 0 0px 0.8px -6px rgba(0, 0, 0, 0.084),
        0 0px 1.9px -6px rgba(0, 0, 0, 0.121), 0 0px 3.6px -6px rgba(0, 0, 0, 0.15),
        0 0px 15.5px -6px rgba(0, 0, 0, 0.210);
}

.teach-with-us-content h4,
h2 {
    font-size: 22px;
}


.form-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

@media (max-width:768px) {
    .form-bg::after {
        background-image: url(../images/Teach-960x775.jpg);
        content: '';
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        position: absolute;
        z-index: -1;
    }

    .d-none-sm {
        display: none;
    }
}
